<template>
  <div class="collapse">

    <!-- Select Endpoints -->
    <input type="checkbox" id="select-endpoint-acc" aria-hidden="true">
    <label class="acc-header" for="select-endpoint-acc" aria-hidden="true">Select Endpoints</label>
    
    <div class="row responsive-label">
      <select-endpoints :endpoints="endpoints"></select-endpoints>
    </div>

    <!-- Select Push Type -->
    <input type="checkbox" id="select-pushtype-acc" aria-hidden="true">
    <label class="acc-header" for="select-pushtype-acc" aria-hidden="true">Select Push Type</label>
    
    <div class="row responsive-label">
      <select-pushtype :pushtype="pushtype"></select-pushtype>
    </div>

    <!-- Set Content -->
    <input type="checkbox" id="create-content-acc" aria-hidden="true">
    <label class="acc-header" for="create-content-acc" aria-hidden="true">Set Content</label>
    
  
    <div class="row responsive-label" v-if="pushtype==='topline'">
      <div class="col-sm-12 col-md-2">
        <label for="message" class="doc">Message</label>
      </div>
      <div class="col-sm-12 col-md-10">
        <input id="message" style="width:100%;" class="doc" v-model="message">
      </div>
    </div> 

    <div class="row responsive-label" v-if="pushtype==='display'">
      <div class="col-sm-12 col-md-2">
        <label for="message" class="doc">Display</label>
      </div>
      <div class="col-sm-12 col-md-10">
        <textarea id="message" style="width:100%; height: 200px" class="doc" v-model="message"></textarea>
      </div>
    </div>  

    <div class="row responsive-label" v-if="pushtype==='audio'">
      <div class="col-sm-12 col-md-2">
        <label for="audio-select" class="doc">Audio</label>
      </div>
      <div class="col-sm-12 col-md-10">
        <select id="audio-select" style="width:50%;" class="doc" v-model="message">
          <option class="doc" value="audio1.wav">audio1.wav</option>
          <option class="doc" value="audio2.wav">audio2.wav</option>
        </select>
      </div>
    </div>  

    <!-- Schedule or Send Now-->
    <input type="checkbox" id="schedule-acc" aria-hidden="true" checked>
    <label class="acc-header" for="schedule-acc" aria-hidden="true">Schedule / Send Now</label>
    
    <div class="row responsive-label">
      <div class="col-sm-12 col-md-5"  style="height: 300px">
        <DateTimePicker v-model="schedule" :options="scheduleOptions" ></DateTimePicker>
      </div>

      <div class="col-sm-12 col-md-4 col-md-offset-3">
        <button @click="sendBySchedule">Send by Schedule</button>
        <button class="tertiary" @click="sendNow">Send Now</button>
      </div>
    </div>

  </div>
</template>


<script> 
  import DateTimePicker from "simple-vue2-datetimepicker";

  export default {
    components: { DateTimePicker },
    props: {
      endpoints: { type: Array, default: [] },
    },
    data () {
      return {
        selectedEndpoints: [],
        pushtype: 'topline',
        message: null,
        schedule: new Date(),
        scheduleOptions: {
          timeFormat: {
            locale: "en-US",
            weekday: "short",
            year: "numeric",
            month: "short",
            day: "numeric",
            hour: "numeric",
            minute: "numeric",
            hour12: true
          },
          display: {
            maxWidth: 100
          }
        },
      };
    },
    methods: {
      submitForm(e) {
        e.preventDefault();
        
        
      },

      setPushType(type) {
        this.pushtype = type;
      },

      setMessage(msg) {
        this.message = msg;
      },

      setSelectedEndpoints(selected) {
        this.selectedEndpoints = selected.map(item => item.ip);
      },

      sendNow(e) {
        e.preventDefault();

        console.log(this.selectedEndpoints, this.message);

        if (!this.selectedEndpoints.length || !this.message) {
          this.$notify({
            group: 'appNotifications',
            text: 'You have not selected an endpoint or content is missing.',
            type: 'error',
          });
          return;
        }

        axios.post('/push/init',
          {
            endpoints: this.selectedEndpoints,
            pushtype: this.pushtype,
            message: this.message,
          }
        ).then(res => {
          this.$notify({
            group: 'appNotifications',
            title: 'Success',
            text: 'Your message is being sent to phones.',
            type: 'success',
          });
        }).catch(err => console.error(err));
      },


      sendBySchedule(e) {
        e.preventDefault();

        if (!this.selectedEndpoints.length || !this.message) {
          this.$notify({
            group: 'appNotifications',
            text: 'You have not selected an endpoint or content is missing.',
            type: 'error',
          });
          return;
        }

        axios.post('/schedule',
          {
            endpoints: this.selectedEndpoints,
            pushtype: this.pushtype,
            message: this.message,
            runat: this.schedule.toISOString().slice(0, 19).replace('T', ' '),
          }
        ).then(res => {
          this.$notify({
            group: 'appNotifications',
            title: 'Success',
            text: 'Your message will be sent by schedule.',
            type: 'success',
          });
        }).catch(err => console.err(err));
      },


    },
    
  }
</script>