<style lang="scss">
  @import "ag-grid-community/dist/styles/ag-grid.css";
  @import "ag-grid-community/dist/styles/ag-theme-alpine.css";
</style>

<template>
    <ag-grid-vue style="width: 100%; height: 500px;" class="ag-theme-alpine"
        :columnDefs="columnDefs"
        :rowData="rowData"
        rowSelection="multiple"
        @grid-ready="onGridReady"
        @selectionChanged="setSelectedEndpoint">
    </ag-grid-vue>
</template>


<script>

import { AgGridVue } from "ag-grid-vue";

    export default {
        name: 'App',
        data() {
            return {
                columnDefs: null,
                rowData: null
            }
        },
        components: {
            AgGridVue
        },
        methods: {
            onGridReady(params) {
                this.gridApi = params.api;
                this.columnApi = params.columnApi;
            },
            getSelectedRows() {
                const selectedNodes = this.gridApi.getSelectedNodes();
                const selectedData = selectedNodes.map( node => node.data );
                const selectedDataStringPresentation = selectedData.map( node => `${node.ip} ${node.set_id}`).join(', ');
                alert(`Selected nodes: ${selectedDataStringPresentation}`);
            },
            setSelectedEndpoint() {
              const selectedNodes = this.gridApi.getSelectedNodes();
              const selectedData = selectedNodes.map( node => node.data );
              this.$parent.setSelectedEndpoints(selectedData);
            }
        },
        beforeMount() {
            this.columnDefs = [
                { headerName: 'IP Address', field: 'ip', sortable: true, filter: true, checkboxSelection: true},
                { headerName: 'Extension', field: 'ext', sortable: true, filter: true },
                { headerName: 'Device ID', field: 'set_id', sortable: true, filter: true },
                { headerName: 'MAC Address', field: 'mac', filter: true },
            ];

            fetch('/phones')
              .then(result => result.json())
              .then(rowData => this.rowData = rowData);
        }
    }
</script>
