<template>
  <div class="col-sm-12 col-md-12">
    <input type="radio" id="topline" class="doc" value="topline" checked v-model="pushtype" @change="changeType">
    <label for="topline">Top Line</label>
    <input type="radio" id="display" class="doc" value="display" checked v-model="pushtype" @change="changeType">
    <label for="display">Display</label>
    <input type="radio" id="audio" class="doc" value="audio" checked v-model="pushtype" @change="changeType">
    <label for="display">Unicast Audio</label>
  </div>
</template>


<script>
  export default {
    props: {
    },
    data () {
      return {
        pushtype: 'topline',
      };
    },
    methods: {
      changeType() {
        this.$parent.setPushType(this.pushtype);
        this.$parent.setMessage(null);

        if (this.pushtype === 'audio') {
          this.$parent.setMessage('audio1.wav');
        }
      }
    },
  }
</script>
